<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.consultant.mapper.UserMapper">
    <select id="searchAll" resultType="com.itheima.consultant.entity.UserDO">
        select *
        from hm_user
    </select>
    <select id="countUser" resultType="java.lang.Integer">
        select count(1)
        from hm_user
        where user = #{user};
    </select>
    <select id="queryPwd" resultType="java.lang.String">
        select pwd
        from hm_user
        where user = #{user};
    </select>
    <select id="queryUser" resultType="java.lang.String">
        select user
        from hm_user
        where user = #{user};
    </select>
    <select id="deleteUser" >
        delete
        from hm_user
        where user = #{user};
    </select>
</mapper>
